.main {
  display: flex;
  margin: 0 auto;
  width: 100%;
}
.main aside {
  box-sizing: border-box;
  display: flex;
  padding-top: 3%;
  padding-left: 3%;
  width: 20%;
  flex-direction: column;
}
.main .container {
  width: 80%;
  padding-bottom: 6%;
  background-color: #EEE;
}
.main .select {
  width: 70%;
}